{% extends "base.html" %}
{% load listings_extra widget_tweaks %}
{% block content %}
<form class="listing" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.errors }}
<a class="skip-to-summary button disabled">Back to summary</a>

<ul class="questions">{% csrf_token %}
  <li class="address postcode question requires-next-button">
    <div class="cell cell-full-width">
      <a class="button" onclick="history.go(-1)">Cancel</a>
      {{ form.address|add_class:"address"|attr:"placeholder: Address" }}
      <a class="next">Next</a>
      {% comment %}
      <input type="text" class="postcode" placeholder="Postcode">
      <ul class="addresses scrollable">
        <li><a>32 Stanley Avenue</a></li>
        <li><a>34 Stanley Avenue</a></li>
      </ul>
      {% endcomment %}
    </div>
  </li>

  <li class="portals question requires-next-button">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Where should it be listed?</h4>
      {% with prefix=form.list_on.auto_id %}
        {% for key, value in form.list_on.field.choices %}
          <input type="checkbox" value="{{ key }}" name="list_on" id="{{ prefix }}_{{ forloop.counter0 }}" />
          <label class="one-col last checkbox" for="{{ prefix }}_{{ forloop.counter0 }}">
            {{ value|title }}
          </label>
        {% endfor %}
      {% endwith %}
      <a class="next">Next</a>
    </div>
  </li>

  <li class="move-in question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Move-in date</h4>
      <div class="next-bar disabled">
        <a class="next">Next</a>
      </div>
      <div class="grid-container scrollable">
        {{ form.move_in_date|add_class:"hidden"|attr:"readonly:readonly" }}
        <div class="grid">
          <div class="row">
            {% for date in move_in_dates %}
              {% with day=date.day month=date.month year=date.year %}
              <input type="radio" name="move-in-date" id="{{year}}-{{ month }}-{{ day }}" />
              <label for="{{ year }}-{{ month }}-{{ day }}" class="grid-{{ day }}{% if today > date %} past{% elif today == date %} today{% endif %}">
                <span class="month">{{ month|date:"M"|upper }}</span>
                <span class="day">{{ day }}</span>
              </label>
              {% endwith %}
              {% if forloop.counter|divisibleby:7 %}</div><div class="row">{% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="keypad price question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Price</h4>
      <div class="price-input">
        &pound; {{ form.price|add_class:"keypad-value price-value"|attr:"readonly:readonly"}} <sub>/pcm</sub>
      </div>
      <div class="next-bar">
        <a class="next">Next</a>
      </div>
      <div class="grid-container">
        <div class="grid">
          {% include "listings/keypad.html" %}
        </div>
      </div>
    </div>
  </li>

  <li class="keypad bedrooms question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Number of Bedrooms</h4>
      <div class="price-input">
        {{ form.bedrooms|add_class:"keypad-value bedrooms-value"|attr:"readonly:readonly" }}
      </div>
      <div class="next-bar">
        <a class="next">Next</a>
      </div>
      <div class="grid-container">
        <div class="grid">
          {% include "listings/keypad.html" %}
        </div>
      </div>
    </div>
  </li>

  <li class="keypad bathrooms question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Number of Bathrooms</h4>
      <div class="price-input">
        {{ form.bathrooms|add_class:"keypad-value bathrooms-value"|attr:"readonly:readonly" }}
      </div>
      <div class="next-bar">
        <a class="next">Next</a>
      </div>
      <div class="grid-container">
        <div class="grid">
          {% include "listings/keypad.html" %}
        </div>
      </div>
    </div>
  </li>

  <li class="photos question">
    <a class="back"><i></i></a>
    <div class="cell scrollable">
      {{ listingphoto_form.management_form }}
      {% for f in listingphoto_form %}
      {% with forloop.counter0|get_photo_label as photo_label %}
      <div class="preview {{ photo_label }}-photo">
        <a href="#" class="close take-photo"></a>
        <a class="button take-photo">Take photo</a>
        {% for f2 in f %}
        {% if f2.is_hidden %}{{ f2 }}
        {% else %}
          {{ f2|add_class:"take-photo-input"|attr:"onchange:readURL(this);" }}
        {% endif %}
        {% endfor %}
        <div class="preview-img">
          <div class="photo-name">{{ photo_label|to_readable }}</div>
          <img id="{{ photo_label }}-photo-preview" />
        </div>
      </div>
      {% endwith %}
      {% endfor %}
      {% for f in listingphoto_form.forms %}
      {% for field in f %}
      {% if field.label == 'Photo' %}{% label_photo field %}{% endif %}{% endfor %}
      {% endfor %}
      <a class="next">Next</a>
    </div>
  </li>

  <li class="floor question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Which floor is it on?</h4>
      <div class="next-bar disabled">
        <a class="next">Next</a>
      </div>
      <div class="grid-container scrollable">
        <div class="grid">
          <div class="row">
            {% for field in form.floor %}
            {% with c=forloop.counter0 %}
            {% if c != 0 %}
              {{ field.tag }}
              <label class="grid-{% if c == 41 or c == 42 %}40{% else %}{{c}}{% endif %} floor-{{ field.choice_label }}" for="{{ field.attrs.id }}">
                <span class="floor-number">{{ field.choice_label }}</span>
              </label>
              {% if c|divisibleby:6 and not forloop.last %}</div><div class="row">{% endif %}
            {% endif %}
            {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="question lift">
    <div class="cell">
      <a class="back"><i></i></a>
      {% boolean_radio form.lift "There's a lift" "There's no lift" %}
    </div>
  </li>

  <li class="question kitchen">
    <div class="cell">
      <a class="back"><i></i></a>
      {% choice_radio form.kitchen %}
    </div>
  </li>

  <li class="question front-garden">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Front garden</h4>
      {% choice_radio form.front_garden %}
    </div>
  </li>

  <li class="question rear-garden">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Back garden</h4>
      {% choice_radio form.back_garden %}
    </div>
  </li>

  <li class="question on-street-parking">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>On-street parking</h4>
      {% choice_radio form.on_street_parking %}
    </div>
  </li>

  <li class="question off-street-parking">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Off-street parking</h4>
      {% choice_radio form.off_street_parking %}
    </div>
  </li>

  <li class="question pets">
    <div class="cell">
      <a class="back"><i></i></a>
      {% choice_radio form.pets %}
    </div>
  </li>

  <li class="question heating">
    <div class="cell">
      <a class="back"><i></i></a>
      {% choice_radio form.heating %}
    </div>
  </li>

  <li class="question glazing">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Windows</h4>
      {% choice_radio form.glazing_type %}
    </div>
  </li>

  <li class="question window-frames">
    <div class="cell">
      <a class="back"><i></i></a>
      {% choice_radio form.glazing_material %}
    </div>
  </li>

  <li class="question furnished">
    <div class="cell">
      <a class="back"><i></i></a>
      {% boolean_radio form.furnished "Furnished" "Unfurnished" %}
    </div>
  </li>

  <li class="question decorated">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Last decorated</h4>
      {% choice_radio form.last_decorated %}
    </div>
  </li>

  <li class="question refurbished">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Last refurbished</h4>
      {% choice_radio form.last_refurbished %}
    </div>
  </li>

  <li class="question deposit">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Deposit</h4>
      {% choice_radio form.deposit %}
    </div>
  </li>

  <li class="question agreement-term">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Agreement term</h4>
      {% choice_radio form.agreement_term %}
    </div>
  </li>

  <li class="question water-bills">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Water bills</h4>
      {% boolean_radio form.water_bills_included "Included" "Not included" %}
    </div>
  </li>

  <li class="question council-tax">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Council tax</h4>
      {% boolean_radio form.council_tax_included "Included" "Not included" %}
    </div>
  </li>

  <li class="question energy-bills">
    <div class="cell">
    <a class="back"><i></i></a>
    <h4>Energy bills</h4>
    {% boolean_radio form.energy_bills_included "Included" "Not included" %}
    </div>
  </li>

  <li class="question telephone-bills">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Telephone bills</h4>
      {% boolean_radio form.telephone_included "Included" "Not included" %}
    </div>
  </li>

  <li class="question broadband">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Broadband</h4>
      {% choice_radio form.broadband %}
    </div>
  </li>

  <li class="council-tax-borough inputs question requires-keyboard requires-next-button">
    <a class="back"><i></i></a>
    <div class="cell">
      <h4>Council tax borough</a></h4>
      {{ form.council_borough|add_class:"one-col"|attr:"placeholder:Borough" }}
      <a class="next">Next</a>
    </div>
  </li>

  <li class="question council-tax-band">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Council tax band</h4>
      {% choice_radio_two form.council_tax_band %}
    </div>
  </li>

  <li class="keypad agent-fee question requires-next-button">
    <div class="cell cell-full-width">
      <a class="back"><i></i></a>
      <h4>Lettings agent extra fees</h4>
      <div class="price-input">
        &pound; {{ form.agent_fee|add_class:"keypad-value agent-fee-value"|attr:"readonly:readonly" }}
      </div>
      <div class="next-bar">
        <a class="next">Next</a>
      </div>
      <div class="grid-container">
        <div class="grid">
          {% include "listings/keypad.html" %}
        </div>
      </div>
    </div>
  </li>

  <li class="question managed-by">
    <div class="cell">
      <a class="back"><i></i></a>
      {% choice_radio form.managed_by %}
    </div>
  </li>

  <li class="epc inputs question requires-keyboard requires-next-button">
    <a class="back"><i></i></a>
    <div class="cell">
      <h4>EPC Code <a class="no-epc internal" href="#">Don't have one?</a></h4>
      {{ form.epc_code|add_class:"one-col"|attr:"placeholder:EPC code" }}
      <span class="epc-requested disabled">We'll contact you. <a class="internal" href="#">Cancel?</a></span>
      <a class="next">Next</a>
    </div>
  </li>

  <li class="login inputs question requires-keyboard requires-next-button">
    <a class="back"><i></i></a>
    <div class="cell">
      <h4>Rightmove login details</h4>
      <input type="text" id="rightmove-username" class="two-col" placeholder="Username">
      <input type="password" id="rightmove-password" class="two-col last" placeholder="Password">
      <a class="next">Next</a>
    </div>
  </li>

  {% comment %}
  <li class="wigwamm-login-or-signup question">
    <div class="cell">
      <a class="back"><i></i></a>
      <h4>Does your agency already have a Wigwamm account?</h4>
      <input type="radio" value="1" name="t" id="wigwamm-login-check" />
      <label class="one-col wigwamm-login-label grid-30" for="wigwamm-login-check">Yes, let me log in</label>

      <input type="radio" value="1" name="t" id="wigwamm-signup-check" />
      <label class="one-col wigwamm-signup-label grid-35" for="wigwamm-signup-check">No, let me sign up</label>
    </div>
  </li>

  <li class="wigwamm-login login inputs question requires-keyboard requires-next-button">
    <a class="back"><i></i></a>
    <div class="cell">
      <h4>Wigwamm login details</h4>
      <input type="text" id="wigwamm-username" class="two-col" placeholder="Username">
      <input type="password" id="wigwamm-username" class="two-col last" placeholder="Password">
      <a class="next">Log in</a>
    </div>
  </li>

  <li class="wigwamm-signup login inputs question requires-keyboard requires-next-button">
    <a class="back"><i></i></a>
    <div class="cell">
      <h4>Wigwamm sign up details</h4>
      <input type="text" id="wigwamm-username" class="two-col" placeholder="Username">
      <input type="password" id="wigwamm-username" class="two-col last" placeholder="Password">
      <a class="next">Sign up</a>
    </div>
  </li>
  {% endcomment %}

  <li class="question summary">
    <div class="next-bar">
      <input class="next" type="submit">Submit listing</a>
    </div>
    <a class="back"><i></i></a>
    <div class="cell cell-full-width scrollable">
      <h4>Confirm your listing</h4>
      {% for field in form %}
      {% if field.name != 'list_on' %}
      <div class="summary-bar summary-{{ field.name }}">
        <a class="edit button">Edit</a>
        <p class="{{ field.name }}-summary">
          <strong>{{ field.label }}:</strong>
          <span></span>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </li>
</ul>
</form>
{% endblock %}
